<div class="card">
    <div class="text-900 text-xl font-semibold mb-3">Students</div>
    <p-table responsiveLayout="scroll" [value]="tableData" #dt [rows]="8" [paginator]="true">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name" style="min-width:12rem" class="white-space-nowrap">Name</th>
                <th pSortableColumn="date" style="min-width:12rem" class="white-space-nowrap">Birth-Day</th>
                <th pSortableColumn="fileSize" style="min-width:12rem" class="white-space-nowrap">Email</th>
                <th pSortableColumn="fileSize" style="min-width:12rem" class="white-space-nowrap">Address</th>
                <th pSortableColumn="fileSize" style="min-width:12rem" class="white-space-nowrap">Class</th>
                <th pSortableColumn="fileSize" style="min-width:12rem" class="white-space-nowrap">Marks</th>
                <th style="width:10rem"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
            <tr>
                <td>{{ row.name }}</td>
                <td>{{ row.birthday }}</td>
                <td>{{ row.email }}</td>
                <td>{{ row.address }}</td>
                <td>{{ row.class }}</td>
                <td><button type="button" style="background-color: #007bff; color: #ffffff; padding: 8px 16px; border: none; border-radius: 4px;">View Marks</button></td>

            </tr>
        </ng-template>
    </p-table>
</div>