<div class="card">
    <span class="block text-900 font-bold text-xl mb-4">Add a Student</span>
    <div class="grid">
        <div class="col-12 lg:col-8">
            <div class="flex flex-column p-fluid">
                <div class="mb-4">
                    <input type="text" pInputText placeholder="First Name"/>
                </div>
                <div class="mb-4">
                    <input type="text" pInputText placeholder="Last Name"/>
                </div>
                <div class="mb-4">
                    <input type="text" pInputText placeholder="Phone Number"/>
                </div>
                <div class="mb-4">
                    <input type="email" pInputText placeholder="Email"/>
                </div>
                <div class="mb-4">
                    <input type="date" pInputText/>
                </div>
                <div class="mb-4">
                    <input type="text" pInputText placeholder="Class"/>
                </div>
            </div>
            <div class="flex justify-content-between gap-3">
                <button pButton pRipple class="p-button-danger flex-1 p-button-outlined" label="Discard" icon="pi pi-fw pi-trash"></button>
                <button pButton pRipple class="p-button-primary flex-1" label="Publish" icon="pi pi-fw pi-check"></button>
            </div>
        </div>
    </div>
</div>
