<div class="card">
    <div class="text-900 text-xl font-semibold mb-3">Subjects</div>
    <p-table responsiveLayout="scroll" [value]="tableData" #dt [rows]="8" [paginator]="true">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name" style="min-width:12rem" class="white-space-nowrap">Subject Name</th>
                <th pSortableColumn="date" style="min-width:12rem" class="white-space-nowrap">Teachers</th>
                <th style="width:10rem"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
            <tr>
                <td>{{ row.name }}</td>
                <td>{{ row.teacher }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>