<div class="card">
    <div class="text-900 text-xl font-semibold mb-3">Students</div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        
        <div *ngFor="let student of tableData" class="card p-6 bg-white shadow-lg rounded-lg flex flex-col items-center">
            <div class="flex-grow text-center md:text-left">        <img src="C:\Users\hayfa\Desktop\school-management-main\src\assets\layout\images\avatar8.jpg" alt="avatar" class="w-32 md:w-48 lg:w-64 h-auto rounded-full mb-4"> <!-- Utilisation de classes pour spécifier la largeur de l'image en pourcentage -->

         </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div *ngFor="let row of tableData" class="p-6 bg-white shadow-lg rounded-lg flex flex-col items-center">
            <div class="flex-grow text-center md:text-left">
                <div class="text-lg font-semibold">{{ row.name }}</div>
                <div class="text-lg mb-2"><strong>Birth-Day:</strong> {{ row.birthday }}</div>
                <div class="text-lg mb-2"><strong>Email:</strong> {{ row.email }}</div>
                <div class="text-lg mb-2"><strong>Phone Number:</strong> {{ row.phoneNumber }}</div>
                <div class="text-lg mb-2"><strong>Address:</strong> {{ row.address }}</div>
                <div class="text-lg mb-2"><strong>Class Teaching:</strong> {{ row.class }}</div>
                <div class="flex justify-center md:justify-end mt-4">
                    <a href="/apps/marks/marklist" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">
                        View Marks
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
