<div class="card">
    <span class="block text-900 font-bold text-xl mb-4">Add a Module</span>
    <div class=" ">
        <form   [formGroup]="myForm" (ngSubmit)="onSubmit()"  >
        <div class="col-6 md:col-6">

            <div class="flex flex-column p-fluid">
                
                <div class=" row mb-4">
                    <input type="text" pInputText   formControlName="moduleName" placeholder="Module Name"/>
                </div>
                <div class="mb-4">
                    <select pInputText formControlName="subject" multiple>
                        <option value="subject1">Mathematics</option>
                        <option value="subject2">Physics</option>
                        <option value="subject3">Svt</option>
                        <option value="subject4">Computer Science</option>
                        <option value="subject5">English</option>
                        <option value="subject6">French</option>
                        <option value="subject7">Arabic</option>
                    </select>
                </div>
            </div>

            <div class="flex justify-content-between gap-3">
                <button pButton pRipple class="p-button-danger flex-1 p-button-outlined" label="Discard" icon="pi pi-fw pi-trash"></button>
                <button type="submit" pButton pRipple class="p-button-primary flex-1" label="Publish" icon="pi pi-fw pi-check"></button>
            </div>
        </div>
    </form>
    </div>
</div>